<%- include('../partials/header') %>
     <!-- MAKE AN APPOINTMENT -->
     <section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-6">
                         <!-- CONTACT FORM HERE -->
                         <form id="appointment-form" role="form" method="post" action="/authenticate/admin/login">

                              <!-- SECTION TITLE -->
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h2>Admin Sign In</h2>
                              </div>
                         
                              <div class="col-md-6 col-sm-6">
                                   <label for="email">Email*</label>
                                   <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <label for="password">Password*</label>
                                   <input type="password" name="password" value="" placeholder="Password" class="form-control" required>
                              </div>

                              <!-- <div class="col-md-3 col-sm-3">
                                   <label for="remember">Remember Me</label>
                                   <input type="checkbox" name="remember" value="yes">
                              </div> -->

                              <div class="col-md-12 col-sm-12">
                                   <button type="submit" class="form-control" id="cf-submit">Submit Button</button>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
     </section>
<%- include('../partials/footer') %>