
     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
        <div class="container">
             <div class="row">

                  <div class="col-md-12 col-sm-12 border-top">
                       <div class="col-sm-6">
                            <div class="copyright-text"> 
                                 <p>Copyright &copy; 2020 Health Center</p>
                            </div>
                       </div>   
                  </div>

             </div>
        </div>
   </footer>

   <!-- SCRIPTS -->
   <script src="/js/jquery.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/jquery.sticky.js"></script>
   <script src="/js/jquery.stellar.min.js"></script>
   <script src="/js/wow.min.js"></script>
   <script src="/js/smoothscroll.js"></script>
   <script src="/js/owl.carousel.min.js"></script>
   <script src="/js/custom.js"></script>

</body>
</html>