<!DOCTYPE html>
<html lang="en">
<head>

     <title>Health Care</title>
     
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Tooplate">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/font-awesome.min.css">
     <link rel="stylesheet" href="/css/animate.css">
     <link rel="stylesheet" href="/css/owl.carousel.css">
     <link rel="stylesheet" href="/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<!-- PRE LOADER -->
<section class="preloader">
     <div class="spinner">

          <span class="spinner-rotate"></span>
          
     </div>
</section>

<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">

          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>

               <!-- lOGO TEXT HERE -->
               <a href="#" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Center</a>
          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home" class="smoothScroll">Home</a></li>
                    <li><a href="/authenticate/patient/login" class="smoothScroll">Patient Login</a></li>
                    <li><a href="/authenticate/patient/register" class="smoothScroll">Patient Register</a></li>
                    <li><a href="/authenticate/doctor/login" class="smoothScroll">Doctor Login</a></li>
                    <li><a href="/authenticate/admin/login" class="smoothScroll">Admin Login</a></li>
               </ul>
          </div>

     </div>
</section>

<% if(error && error.length > 0){ %>
     <div class="alert alert-danger" role="alert">
         <%= error %>
     </div>
 <% } %>
 <% if(success && success.length > 0){ %>
     <div class="alert alert-success" role="alert">
         <%= success %>
     </div>
 <% } %>
 <% if(info && info.length > 0){ %>
     <div class="alert alert-info" role="alert">
         <%= info %>
     </div>
 <% } %>