<%- include('../partials/header')  %> 
     <!-- HOME -->
     <div class="container">
          <div class="row">
               <h1>HOME</h1>
               <section id="appointment" data-stellar-background-ratio="3">
                    <div class="col-md-6 col-sm-6">
                         <div class="wow fadeInUp" data-wow-delay="0.8s">
                              <div class="col-md-12 col-sm-12">
                                   <a href="/authenticate/verifyaccount">
                                        <button type="submit" class="form-control" id="cf-submit">Verify account</button>
                                   </a>
                              </div>
                         </div>
                    </div>
               </section>
          </div>
     </div>
<%- include('../partials/footer') %> 