<%- include('../partials/header')  %> 
     <!-- HOME -->
     <div class="container">
          <div class="row">
               <h1>HOME</h1>
          </div>
     </div>
<%- include('../partials/footer') %> 