<%- include('../partials/header')  %> 
     <!-- HOME -->
     <div class="container">
          <div class="row">
               <h3>Password Recovery Email has been sent to the given email.</h3>
          </div>
     </div>
<%- include('../partials/footer') %> 