<%- include('../partials/header')  %> 
    <!-- FORGET -->
    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                        <!-- ENTER EMAIL TO RECOVER PASSWORD -->
                    <form id="appointment-form" role="form" method="post" action="/authenticate/forget/<%=token%>">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="col-md-6 col-sm-6">
                            <label>Enter New Password*</label>
                            <input type="password" name="newpassword" placeholder="New Password" class="form-control" required>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label>Confirm New Password*</label>
                            <input type="password" name="confirmpassword" placeholder="Confirm New Password" class="form-control" required>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="form-control" id="cf-submit">Submit Button</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </section>
<%- include('../partials/footer') %> 