<%- include('../partials/patient/header') %>
     <!-- PATIENT EMAIL CHANGE -->
     <section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-6">
                         <!-- EMAIL CHANGE HERE -->
                         <form id="appointment-form" role="form" method="post" action="/patient/passwordchange" >
                              <!-- USER NAME -->
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h3>Hello <%=user.Fname%> <%=user.Lname%></h3>
                              </div>
                              <input type="hidden" name="_method" value="PUT">
                              <div class="col-md-6 col-sm-6">
                                   <label>Enter Old Password*</label>
                                   <input type="password" name="oldpassword" placeholder="Old Password" class="form-control" required>
                              </div>
                         
                              <div class="col-md-6 col-sm-6">
                                   <label>Enter New Password*</label>
                                   <input type="password" name="newpassword" placeholder="New Password" class="form-control" required>
                              </div>

                              <div class="col-md-6 col-sm-6">
                                   <button type="submit" class="form-control" id="cf-submit">Submit Button</button>
                              </div>
                        </form>
                    </div>
               </div>
          </div>
     </section>
<%- include('../partials/footer') %>